body {
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  line-height: 18px;
  font-size: 14px;
  color: #0a0a0a;

}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;

}

header {
  background-color: #0a0a0a;
  padding: 33px 0 32px;
  color: #717171;
  line-height: 29px;
  font-size: 24px;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.menu {
  display: flex;
  flex-grow: 1;
  flex-basis: 0;
}

.phone {
  flex-grow: 1;
  flex-basis: 0;
  text-align: right;
}

.menu-item {
  padding-right: 30px;
}

.headline {
  background-color: #F5F5F7;
  text-align: center;
  padding: 70px 0 40px;
}

.title {
  text-transform: uppercase;
  margin-bottom: 40px;
  color: #490E84;
  font-weight: 700px;
  font-size: 64px;
  line-height: 77px;
}

.headline-img {
  margin-bottom: 25px;
}

.headline-btn {
  display: inline-block;
  font-weight: 700px;
  font-size: 24px;
  font-weight: 29px;
  text-transform: uppercase;
  color: #fff;
  background: #490E84;
  border-radius: 30px;
  padding: 22px 117px 19px 118px;
}